
.app {
  align-items: center;
  background-image: url('assets/background.jfif');
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 100%;
  text-align: center;
}
.wrapper { width: 900px }
.radio-section {
  height: 100%;
  width: 100%;
}
