
.app {
  align-items: center;
  background-color: #d3d3d33b;
  display: flex;
  min-height: 100%;
  justify-content: center;
  text-align: center;
}
.wrapper { width: 900px }
.radio-section {
  height: 100%;
  width: 100%;
}
